h1 Tip#[span /]Tap

section.gameboard
  .container

.controls
  .wrapper
    .cell
      a.new-game(href="#") New Game

    .cell
      .move-counter.
        0 moves

    .cell
      .progress-label
      .progress-bar
        .progress

    .cell
      a.help(href="#") Instructions

p.instructions.
    Clicking a tile will activate it, as well as it's adjacent tiles. #[br] Activate all the tiles at once to win.